*{
    list-style: none;
}
img{
    width: 870px;
    height: 554px;
}
.div{
    width: 870px;
    height: 554px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}

    .active{
        background: skyblue;
    }
    .indexes{

        width: 120px;
        height: 20px;
        /* background-color: black; */
        display: flex;
        position:absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

    }
    .indexes li{
        background-color: #fff ;
        width: 20px;
        border-radius: 50%;
        margin: 0px 3px;
        height: 20px;
    }
    .indexes li.active{
        background-color:skyblue  ;
  
    }
    .arrow{
        width: 30px;
        height: 50px;
        background: rgba(179, 191, 243, 0.537);  
        position: absolute;
        font-size: 32px;
        text-align: center;
    }
    .arrow.arrowleft{
        left: 0px;
        top: 260px;
    }
    .arrow.arrowright{
        right: 0px;
        top: 260px;
    }